DOTENV_CONFIG_QUIET=true

# Der Backend-Server (also der Server, der die API bereitstellt)
VITE_API_SERVER_URL=https://localhost:3001
VITE_REAL_FETCH=true
# Frontend-Server (also der Server, der die React-App bereitstellt)
# ist natürlich auch über `window.document.location.origin``
# in der React-App verfügbar.
# Wir setzen es hier für Tests und zum Starten des Frontend-Servers.
# Daher steht hier auch kein VITE davor: D.h. im normalen
# Betrieb (im Frontend) wird diese Variable nicht gesetzt.
FRONTEND_SERVER_URL=https://localhost:3000
# SSL-Informationen, genauso wie im Backend, setzen wir beim Starten des
# Frontend-Servers.
SSL_KEY_FILE=./cert_example/private.key
SSL_CRT_FILE=./cert_example/public.crt