DB_CONNECTION_STRING=memory
DB_PREFILL=true
HTTP_PORT=3000
HTTPS_PORT=3001
USE_SSL=true
SSL_KEY_FILE=cert_example/private.key
SSL_CRT_FILE=cert_example/public.crt

JWT_SECRET=your_jwt_secret_here_change_me
JWT_TTL=300

RATE_WINDOW_MS=900000
RATE_LIMIT=100

CORS_ORIGIN=https://localhost:3000